<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
    <title>Home Page</title>
</head>

<body>
  <% if(locals.title) { %>
    <h1 class="text-primary">Welcome - <%= title %>
    </h1>
    <% } %>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore odit, alias commodi fugit similique voluptatibus
      expedita magnam. Alias perferendis ad reprehenderit, sed aspernatur aliquam laboriosam, in dolorum hic ipsa
      minima?
</body>

</html>